<mat-dialog-content>
  <mat-input-container class="input-full-width">
    <input matInput #name [(ngModel)]="newRoom.name" placeholder="Name">
  </mat-input-container>

  <mat-input-container class="input-full-width">
    <textarea matInput #description [(ngModel)]="newRoom.description" placeholder="Description"></textarea>
  </mat-input-container>

  <!--
  <mat-slide-toggle color="accent" [checked]="newRoom.type == 'public'">
    Public
  </mat-slide-toggle>
  -->
</mat-dialog-content>

<mat-dialog-actions>
  <!--
  <button mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
  -->

  <span fxFlex></span>

  <button mat-button (click)="cancel($event)">Cancel</button>
  <button mat-raised-button color="primary"
          (click)="save($event)">Save</button>
</mat-dialog-actions>
