.input-full-width {
  width: 100%;
}

md-dialog-actions {
  md-icon {
    color: rgba(0,0,0,.54);
  }

  button {
    text-transform: uppercase;

    &.mat-raised-button {
      margin-left: 6px;
    }
  }
}