$blue: #2196F3;
$dingy: #495B6A;
$white: #ffffff;
$purple: #673AB7;
$yellow: #FFEB3B;
$red: #F44336;
$orange: #FF5722;
$black: #333333;

$nav: 100;
$navHeight: 64px;
$trans: 0.3s ease;

.app-toolbar-container {
  .mat-toolbar {
    display: none;
  }

  &.hasToolbar {
    .mat-toolbar {
      display: flex;
    }
  }
}
.app-toolbar {
  .app-toolbar-menu {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    outline: none;

    .mat-icon {
      color: rgba(255, 255, 255, .54);

      transition: .2s all linear;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .app-toolbar-title {
    font-family: 'Open Sans', sans-serif;
    color: rgba(255,255,255,1);
    text-decoration: none;
  }

  .app-toolbar-filler {
    flex: 1 1 auto;
  }

  .app-toolbar-theme {

  }

  .user-info {
    margin-left: 10px;
    color: white;

    .signed-in-user-container {
      /*display: none;*/
      margin-left: 10px;

      .usernamelink {
        padding: 0 10px 0 0;
        border-radius: 19px 5px 5px 19px;
        text-transform: none;
        white-space: nowrap;

        .avatar {
          height: 32px;
          width: 32px;
          display: inline-block;
          background-size: 32px 32px;
          border-radius: 32px;
          border: 2px white solid;
          margin-right: 10px;
        }

        .username {
          font-family: 'Open Sans', sans-serif;
          display: inline-block;
          line-height: 38px;
          vertical-align: top;
          width: calc(100% - 46px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
      }
    }
  }
}

.app-sidenav-container {
  height: 100vh;

  &.hasToolbar {
    height: calc(100vh - 64px);
  }

  &.m2app-dark {
    background: #333333;

    #sidenav-rooms,
    #sidenav-details {
      background: #434753;
      color: #ffffff;
    }

    #sidenav-rooms {
      .list-friends {
        .user {
          color: rgba(255,255,255,.87);
        }
        .status {
          color: rgba(255,255,255,.54);
        }
      }
    }

    .app-content {
      background: #333333;

      .bottom {
        .input {
          color: #ffffff;
        }
      }
    }
  }

  .nav-list-container {
    overflow: scroll;
  }
  .new-room-button {
    height: 64px;
  }

  #sidenav-rooms {
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
    background: #ffffff;
    color: rgba(0,0,0,.87);

    min-width: 100px;
    /*width: 29%;*/
    width: 274px;
    max-width: 324px;

    .mat-nav-list {
      transform: translate3d(0,0,0);
    }

    .mat-list-item.active {
      background: rgba(255,255,255,.04);
    }
  }

  #sidenav-details {
    min-width: 256px;

    .search {
      position: relative;
      height: 64px;

      input {
        outline: none;
        border: none;
        background: none;

        &[type=submit] {
          font-family: 'Material Icons Extended';
          position: absolute;
          right: 9%;
          top: 27px;
          color: white;
          content: '&#xE87C;';
        }

        &[type=search] {
          background-color: #696c75;
          border-radius: 3px;
          padding: 10px;
          box-sizing: border-box;
          margin: 16px 12px;
          color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: table-cell;
          width: calc(100% - 24px);
        }
      }

      i.material-icons {
        position: absolute;
        right: 16px;
        top: 20px;
        color: white;
      }
    }

    .list-friends {
      list-style: none;
      font-size: 13px;
      height: 88%;

      margin: 0;
      padding: 0;
      overflow: auto;
      outline: none;

      img {
        border-radius: 50%;
        border: 3px solid #696c75;
        margin: 5px;
      }
      > li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 6px 12px 6px 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;

        &:hover {
          background-color: #666666;
        }
      }
      .info {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }
      .user {
        color: rgba(0,0,0,.87);
        margin-top: 12px;
      }
      .status {
        position: relative;
        margin-top: 4px;
        margin-left: 14px;
        color: rgba(0,0,0,.54);
      }
      .off:after,
      .on:after {
        content: '';
        left: -12px;
        top: 5px;
        position: absolute;
        height: 7px;
        width: 7px;
        border-radius: 50%;
      }
      .off:after {
        background: #fd8064;
      }
      .on:after {
        background: #62bf6e;
      }
    }
  }

  .app-content {
    background: darken($white, 5%);

    height: 100%;
  }

  .app-action {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
.mat-menu-item.active {
  font-weight:bold;
}
@media (max-width: 600px) {
  .app-sidenav-container {
    height: calc(100vh - 56px);
  }
}
