<div class="messages-container" fxLayout="column">
  <div id="inner" class="inner" fxFlex>
    <div class="content">
      <div class="message-wrapper"
           *ngFor="let msg of roomMessages"
           [ngClass]="{'me': msg.userId == currentUser.id, 'them': msg.userId != currentUser.id}">

        <div class="circle-wrapper animated bounceIn"
             [matTooltip]="msg.name + ' @ ' + msg.timestamp"
             matTooltipPosition="below"
             [@bounceInOut]="'in'"
             (click)="details.open()"
             [style.backgroundImage]="'url(' + msg.avatar + ')'"></div>

        <div class="text-wrapper animated fadeIn" [@flyInOut]="'in'">{{ msg.message }}</div>
      </div>
    </div>
  </div>

  <div class="bottom" id="bottom" *ngIf="roomId"
       fxLayout="row" fxLayoutAlign="start center"
       [class.m2app-dark]="currentUser && currentUser.preferences && currentUser.preferences.theme == THEMES.Dark">


    <!-- UPLOAD -->
    <button mat-icon-button class="upload" (click)="triggerInputFileClick($event)">
      <mat-icon>image</mat-icon>
    </button>
    <input id="new-post-input" type="file"
           ([ngModel])="file" name="inputFile" accept="image/*"
           (change)="previewFile($event)" />

    <!-- CONTENT -->
    <div class="preview" [class.open]="previewURL" fxLayout="row" fxLayoutAlign="center center">
      <img [src]="previewURL | async" />
    </div>
    <div class="input-buffer" *ngIf="previewURL" fxFlex fxLayout="row" fxLayoutAlign="center center">
      <button mat-button (click)="removeFile($event)">Remove</button>
    </div>
    <textarea class="input" id="message-text-input"
              *ngIf="!previewURL"
              fxFlex title="New message text"
              [(ngModel)]="newMessage.message"
              (keydown.enter)="sendRoomMessage($event)"></textarea>

    <!-- SUBMIT -->
    <button mat-icon-button class="send"
            [disabled]="!newMessage.message && !previewURL"
            (click)="sendRoomMessage($event)">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
