<div class="inner" id="inner">
  <div id="content" class="content">
    <div class="message-wrapper"
         *ngFor="let msg of roomMessages"
         [ngClass]="{'me': msg.userId == currentUser.id, 'them': msg.userId != currentUser.id}">

      <div class="circle-wrapper animated bounceIn"
           [mdTooltip]="msg.name + ' @ ' + msg.timestamp"
           mdTooltipPosition="below"
           [@bounceInOut]="'in'"
           (click)="details.open()"
           [style.backgroundImage]="'url(' + msg.avatar + ')'"></div>

      <div class="text-wrapper animated fadeIn" [@flyInOut]="'in'">{{ msg.message }}</div>
    </div>
  </div>
</div>

<div class="bottom" id="bottom" *ngIf="roomId"
     [class.m2app-dark]="currentUser && currentUser.preferences && currentUser.preferences.theme == THEMES.Dark">
  <textarea class="input" id="message-text-input"
            [(ngModel)]="newMessage.message"
            (keyup.enter)="sendRoomMessage($event)"></textarea>

  <button class="send" id="send"
          [disabled]="!newMessage.message"
          (click)="sendRoomMessage($event)"></button>
</div>