$blue: #2196F3;
$dingy: #495B6A;
$white: #ffffff;
$purple: #673AB7;
$yellow: #FFEB3B;
$red: #F44336;
$orange: #FF5722;
$black: #333333;

$nav: 100;
$navHeight: 64px;
$trans: 0.3s ease;

.messages-container {
  position: relative;
  height: 100%;
}

.inner {
  overflow: auto;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  //gotta hide windows scrollbars

  &::-webkit-scrollbar {
    width: 0 !important
  }

  .content {
    padding: 12px 18px 0;
    position: relative;
    margin: 0;
    box-sizing: border-box;

    :first-child {
      margin-top: 0;
    }
  }
}

.bottom {
  /*
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  */
  position: relative;
  height: 64px;
  background: #CCCCCC;

  /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */

  .input {
    height: 64px;
    background: #CCCCCC;
    border: none;
    resize: none;
    overflow: scroll;
    padding: 24px 12px;
    font-weight: 300;
    font-size: 16px;

    &:focus {
      outline: none;
    }

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    //gotta hide windows scrollbars

    &::-webkit-scrollbar {
      width: 0 !important
    }
  }

  .upload, .send {
    color: rgba(255, 255, 255, 1);
    margin: 0 12px;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }

    &[disabled] {
      background: #AAA;
    }
  }

  .send {
    background: $red;
  }

  &.m2app-dark {
    background: #696c75;

    .input {
      background: #696c75;
    }
  }
}

.message-wrapper {
  position: relative;
  overflow: hidden;

  width: 100%;
  margin: 0;
  padding: 12px 0;
  font-family: 'Open Sans', sans-serif;

  .circle-wrapper {
    height: $navHeight/1.5;
    width: $navHeight/1.5;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
  }

  .text-wrapper {
    padding: ($navHeight - ($navHeight/1.5)) / 2;
    min-height: $navHeight/1.5;
    width: 60%;
    margin: 0 ($navHeight - ($navHeight/1.5)) / 2;
    box-shadow: 0 1px 0 0 rgba(50, 50, 50, 0.3);
    border-radius: 2px;
    font-weight: 300;
    position: relative;
    /* word-break: break-all; */
    /*opacity: 0;*/

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
    }
  }

  &.them {
    .circle-wrapper, .text-wrapper {
      background-color: $red;
      float: left;
      color: $white;
    }

    .text-wrapper {
      &:before {
        border-width: 0 10px 10px 0;
        border-color: transparent $red transparent transparent;
        position: absolute;
        top: 0;
        left: -9px;
      }
    }
  }

  &.me {
    .circle-wrapper,
    .text-wrapper {
      background-color: $orange;
      float: right;
      color: $black;
    }

    .circle-wrapper {
      display: none;
    }

    .text-wrapper {
      background: $white;

      &:before {
        border-width: 10px 10px 0 0;
        border-color: $white transparent transparent transparent;
        position: absolute;
        top: 0;
        right: -9px;
      }
    }
  }
}
