@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-blue-grey);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: mat-palette($mat-blue-grey, 700, 500, 900);
  $dark-accent:  mat-palette($mat-deep-orange, 900, 700, A700);
  $dark-warn:    mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}